<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pepper's Corner</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'mainblog/styles.css' %}">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    </head>
    <body>
        <div class='navbar navbar-expand navbar-light bg-light '>
            <a class='navbar-brand header-name' href="{% url 'mainblog:index' %}">CHEF TOLU PEPPER</a>
                <nav class="navbar-nav ml-auto socials">
                    <li class='nav-item col px-md-2'><a href="#" class='nav-link fab fa-facebook'></a></li>
                    <li class='nav-item col px-md-2'><a href="#" class='nav-link fab fa-youtube'></a></li>
                    <li class='nav-item col px-md-2'><a href="#" class='nav-link fab fa-instagram'></a></li>
                    <li class='nav-item col px-md-2'><a href="#" class='nav-link fab fa-whatsapp'></a></li>
                </nav>
            </div>
        <div>
            <div class='brand-logo'></div>
        </div>

        <div class="navbar navbar-expand-lg navbar-light bg-light">
            <button type='button' class="navbar-toggler" data-toggle="collapse" data-target="#navbarmenu" aria-expanded="false" aria-controls="navbar"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarmenu">
                <ul class='navbar-nav mx-auto'>
                    <li class='nav-item'><a href="{% url 'mainblog:category' 'Food' %}" class="unique-link m-link">FOOD</a></li>
                    <li class='nav-item'><a href="{% url 'mainblog:category' 'Lifestyle' %}" class="custom-link m-link">LIFESTYLE</a></li>
                    <li class='nav-item'><a href="{% url 'mainblog:category' 'Travel' %}" class="custom-link m-link">TRAVEL</a></li>
                    <li class='nav-item'><a href="{% url 'mainblog:category' 'Fashion' %}" class="custom-link m-link">FASHION</a></li>
                </ul>
            </div>
        </div>

        </div>
        {% if category.name == 'Lifestyle' %}
            <div class="w-100"  style="background-image:url('{% static 'mainblog/images/lifestyle.jpg' %}'); height:70vh; background-position:bottom right; background-attachment: fixed;">
                <p class="category-name">{{ category.name }}</p>
            </div>
        {% elif category.name == 'Food' %}
            <div class="w-100"  style="background-image:url('{% static 'mainblog/images/food.jpg' %}'); height:70vh; background-position:center right; background-attachment: fixed;">
                <p class="category-name">{{ category.name }}</p>
            </div>
        {% elif category.name == 'Travel' %}
            <div class="w-100"  style="background-image:url('{% static 'mainblog/images/travelB.jpg' %}'); height:70vh; background-position:center; background-attachment: fixed;">
                <p class="category-name">{{ category.name }}</p>
            </div>
        {% else%}
            <div class="w-100"  style="background-image:url('{% static 'mainblog/images/fashionB.jpg' %}'); height:70vh; background-position:center; background-attachment: fixed;">
                <p class="category-name">{{ category.name }}</p>
            </div>
        {% endif %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer class="bg-dark text-center text-white">
        <div class="container p-4">
        <section class="mb-4">
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-youtube"></i
            ></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-twitter"></i
            ></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-whatsapp"></i
            ></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-instagram"></i
            ></a>
            </a>
        </section>
        <section class="mb-4">
            Hey, I'm Tolu Oriyomi, the author snd creator of this blog. Follow me on my Socials to get Updated and to discover more of my work, Thanks!!
        </section>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
         Copyright &copy; 2020 <strong>Chef Tolu</strong>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    </body>
</html>